html
    head
        title Testbed
        <!-- bower:css -->
        <!-- endbower -->
        <!-- inject:css-->
        <!-- endinject -->
    body
        <!-- bower:js -->
        <!-- endbower -->
        <!-- inject:js -->
        <!-- endinject -->